
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hi {NAME}, <br /><br />

    Your KRA evaluation has been successfully approved by {SrManagerName} for the year 2025-2026, You can view your final ratings and feedback by logging into the DF Velocity Tool:
    <br /><br />Please find below URL of the tool:

    <strong>URL:</strong> <a href="https://dfvelocity.datafortune.live" target="_blank">https://dfvelocity.datafortune.live</a><br /><br />


</body>
</html>
