<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hi {NAME}, <br /><br />

    {ManagerName} has submitted the evaluation for {UserName} for the year 2024-2025, please review the evaluation and submit your ratings by <strong>28-03-2025</strong>
    <br /><br />Please find below URL of the tool:

    <strong>URL:</strong> <a href="https://dfvelocity.datafortune.live" target="_blank">https://dfvelocity.datafortune.live</a><br /><br />


</body>
</html>