<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hi {NAME}, <br /><br />

    Your KRA evaluation has been rejected by <strong>{ManagerName}</strong> and requires revision. please review the evaluation and submit your ratings by <strong>{DUE_DATE}</strong>
    <br /><br />Please find below URL of the tool:

    <strong>URL:</strong> <a href="https://dfvelocity.datafortune.live" target="_blank">https://dfvelocity.datafortune.live</a><br /><br />


</body>
</html>
