<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hi {NAME}, <br /><br />

    We have initiated the Appraisal Process for the year 2024-2025. You can get started with the Self Rating as per the guidelines provided in the demo. Please log in to the DF Velocity Tool to start your evaluation.
    <br /><br />Please find below URL of the tool:

    <strong>URL:</strong> <a href="https://dfvelocity.datafortune.live" target="_blank">https://dfvelocity.datafortune.live</a><br /><br />

    <!--Please submit your <strong>Performance Appraisal Form on or before 2025</strong>. <br /><br />-->

</body>
</html>
